html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,body {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    font-family: 'JetBrains Mono', 'Poppins', sans-serif, monospace;
    background-color:  #F0F8FF;
}

header {
    background-color: #F0F8FF ;
    display: block;
}


ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu {
    max-width: 1920px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    align-items: center;
    justify-content: space-around;
    background-color: #F0F8FF;
}

.menu > li {
    padding: 20px 0;
}

.menu li a {
    display: block;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
    color: purple;
}

.container {
    margin: 0 auto;
    max-width: 1920px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.descricao {
    align-items: center;
    background-color: #F0F8FF;
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    text-align: center;
}

.descricao .titulo {
    font-size: 35px;
}

.titulo, .subtitulo {
    font-family: "Jetbrains Mono";
    text-align: center;
}

.redesSociais {
    justify-content: center;
    display: flex;
    width: 100%;
    background-color: #F0F8FF;
    align-items: center;
}


.redes {
    margin-left: 15px;
    padding: 15px;
}

.sobreMim {
    padding: 20px;
    background-color: blueviolet;
    color: white;
}

.texto {
    line-height: 2rem;
}

.box {
    display: flex;
    align-items: center;
}

.sobreMim img {
    width: 10%;
    border-radius: 100px;
    margin-right: 20px;
}

.classeHabilidades {
    background-color: blueviolet;
    width: 100%;
    color: white;
}

.habilidades {
    display: flex;
    justify-content: center;
}

.habilidades li {
    margin: 20px;
}

.atividades {
    background-color: blueviolet;
    width: 100%;
    text-align: center;
    color: white;
}

.educacao {
    margin-top: 50px;
    margin-bottom: 50px;
}

#logoAlura {
    border: 2px solid;
    padding: 20px;
}

.imgMario {
    width: 40%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10%;
}


.imgDecodificador {
    width: 40%;
    margin-left: 50%;
    margin-top: 20px;
}

.botao {
    background-color: black;
    width: 5%;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    color: white;
    padding: 5px;
}


.secaoForm {
    margin-top: 10%;
}

.formulario {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-left: 30%;
    margin-top: 50px;
    border-style: ridge;
    border-color: rgb(23, 149, 228);
}

.formulario label {
    margin-top: 20px;
}


.rodape {
    text-align: center;
    margin-top: 10%;
    background-color: blueviolet;
    width: 100%;
    padding: 20px;
    color: white;
}

.rodape a{
    color: white;
}